/* custom properties */
:root {
  --main-bg-color: #ff5f00;
  --lighter-color: #b5b5b5;
  --darker-color: #191919;
  --text-spacing: 0.3rem 0.5rem;
}
/* creating the responsive grid with flexbox */
.offers {
  display: flex;
  flex-wrap: wrap; /* wrap elments onto multiple rows  */
  justify-content: center; /*center offers container */
  background-color: var(--main-bg-color);
}

/* syling for the car name and for the car price */
.car-title,
.car-price {
  display: flex;
}
.car-title {
  justify-content: flex-start;
}
.car-price {
  justify-content: flex-end;
}
.car-title h3,
.car-price p,
.headline h1 {
  background-color: var(--darker-color);
  color: white;
  padding: var(--text-spacing);
}

/* styling for the card elements */
.box {
  padding: 0.5rem 0;
  border-radius: 0.5rem; /* round corners for the box / card elements */
  color: var(--darker-color);
  background-color: white;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2); /* setting a shadow for the box / card elements */
  margin: 1rem;
  transition: all 0.6s ease-in; /* setting the transition for the box / card elements */
}
.box:nth-child(odd):hover {
  /* on hover skew the odd card elements clockwise with 2deg and setting a box shadow */
  transform: skewY(2deg);
  box-shadow: 0.5rem 0.5rem 0.4rem var(--darker-color),
    -0.5rem -0.5rem 0.4rem var(--lighter-color);
}
.box:nth-child(even):hover {
  /* on hover skew the even card elements counterclockwise with 2deg and setting a box shadow */
  box-shadow: 0.5rem 0.5rem 0.4rem var(--lighter-color),
    -0.5rem -0.5rem 0.4rem var(--darker-color);
  transform: skewY(-2deg);
}
.image {
  position: relative;
  width: 100%; /* image responsive, fallaback */
  max-width: 100%; /* image responsive */
  filter: blur(1px); /* adding a blur to the image*/
  transition: all 0.6s ease-in; /* setting the transition for the box / card elements */
  transform: scale(0.8); /* start with a smaller scale */
  overflow: hidden;
}
.box:hover > .image {
  filter: blur(
    0
  ); /* on hovering the card element remove the blur from the image */
  transform: scale(1); /* increase the scale to 1 */
}

/* utility classes */
.text-center {
  text-align: center;
}

/* headline styling */
.headline {
  background-color: var(--main-bg-color);
  padding: 5rem;
}

.headline h1 {
  width: max-content;
  margin: 0 auto;
  padding: 1rem 8rem;
  text-align: center;
  text-transform: uppercase;
}
