.offers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ff5f00;
}
.box {
  /* border: 4px solid #000; */
  padding-top: 0.5rem;
  border-radius: 0.5rem;
  color: #000;
  background-color: #fff;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  margin: 1rem;
}
.text-center {
  text-align: center;
}
